:root {
    --main-color: #009245;
    --main-text-color: #424242;
  }

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #424242;
}

body {
    background: #009245;
    font-family: 'Roboto', sans-serif;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    height: 50px;
    background: rgba(00, 00, 00, 1);
    box-shadow: 0 3px 5px #444
  }
  
  .nav div.container {
    /* background: inherit; */
    /* border: 1px solid firebrick; */
    height: 100%;
    max-width: 100%;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .brand {
    display: inline-block;
    height: 50px;
  }
  
  .brand img {
    height: 100%;
  }
  
  .nav-links {
    /* display: inline-block; */
  }
  
  .nav-item {
    display: inline-block;
    margin: 0 10px;
  }
  
  .nav-item a {
    text-decoration: none;
    line-height: 50px;
    /* because of the border-bottom: ; */
    color: #ddd;
    display: block;
    height: 100%;
    transition: all 0.5s;
  }
  
  .nav-item a:hover {
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
    transition: all 0.5s;
    font-weight: 700;
  }
  
  .sign-btn {
    display: inline-block;
    background-color: var(--main-color);
    color: #ddd;
    text-decoration: none;
    padding: 5px 7px;
    border-radius: 5px;
  }
  

section.login-form {
    display: flex;
    align-items: center;
    /* position: absolute; */
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    width: 90%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    min-height: 90vh;
    /* padding-top: 40px; */
    /* box-shadow: 0 5px 10px rgba(00, 00, 00, 0.2); */
    background: #eeeeee;
}

.bg {
    background: url(../backgroud-img.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #f8b658;
    /* shape-outside: polygon(58% 0, 100% 50%, 57% 100%, 0% 100%, 0 57%, 0% 0%); */
    /* clip-path: polygon(91.97% 37.87%, 93.55% 41.15%, 94.52% 44.65%, 94.85% 48.25%, 94.52% 51.85%, 93.55% 55.34%, 91.97% 58.62%, 73.91% 99.69%, 0.29% 100.01%, 0.04% 48.25%, 0.04% 0.17%, 74.38% 0.17%); */
    /* clip-path: polygon(91.97% 37.89%, 93.55% 41.17%, 94.52% 44.67%, 94.85% 48.28%, 94.52% 51.88%, 93.55% 55.37%, 91.97% 58.65%, 73.90% 99.74%, 0.24% 100.06%, -0.01% 48.28%, -0.01% 0.17%, 74.37% 0.17%); */
    /* clip-path: polygon(91.97% 37.89%, 93.55% 41.17%, 94.52% 44.67%, 94.85% 48.28%, 94.52% 51.88%, 93.55% 55.37%, 91.97% 58.65%, 73.90% 99.74%, 0.24% 100.06%, -0.01% 48.28%, -0.01% 0.17%, 74.37% 0.17%); */
    /* clip-path: polygon(91.97% 37.89%, 93.55% 41.17%, 94.52% 44.67%, 94.85% 48.28%, 94.52% 51.88%, 93.55% 55.37%, 91.97% 58.65%, 73.90% 99.74%, 0.24% 100.06%, -0.01% 48.28%, -0.01% 0.17%, 74.37% 0.17%); */
    clip-path: polygon(91.97% 37.89%, 93.55% 41.17%, 94.52% 44.67%, 94.85% 48.28%, 94.52% 51.88%, 93.55% 55.37%, 91.97% 58.65%, 73.90% 99.74%, 0.24% 100.06%, -0.01% 48.28%, -0.01% 0.17%, 74.37% 0.17%);
    box-shadow: 0px 5px 15px 20px red;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    padding: 30px;
    padding-left: 4rem;
    height: 100%;
}

.bg h2 {
    color: #7f1800;
    font-weight: bolder;
    font-size: 60px;
    text-align: center;
    width: 50%;
    /* margin-left: -15%; */
}

.bg h2 span {
    color: #13852b
}


.box,
.bg {
    flex-basis: 50%;
    height: 100%;
}

.box {
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    /* justify-content: center; */
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #eeeeee;
}

.box .logo {
    height: 30px;
    width: 80%;
    margin: auto;
    justify-self: flex-start;
}

.box .logo img {
    height: 100%;
    float: right;
}

.box h2 {
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
}

.box h3 {
    margin-bottom: 30px;
}

.box form {
    width: 80%;
    margin: 20px auto;
    /* margin-top: 50px; */
}

.box input {
    border: none;
    border-bottom: 1px solid #999;
    width: 100%;
    padding: 10px 0;
    /* margin-bottom: 30px; */
    outline: none;
    background: inherit;
}


.box form div {
    position: relative;
    margin-bottom: 30px;
}

.box form div label {
    position: absolute;
    left: 0;
    top: 10px;
    pointer-events: none;
    color: #d2d2d2;
    transition: 0.5s;
    font-weight: bold;
}


.box form .show-pswrd {
    position: absolute;
    top: 15px;
    right: 8px;
}

.box form .forgot-pswrd {
    position: absolute;
    bottom: -20px;
    right: 8px;
}

.box form .forgot-pswrd,
.box form .show-pswrd {
    background: transparent;
    border: none;
    color: #1c377c;
    pointer-events: none;
}

.box input:focus~label,
.box textarea:focus~label,
.box input:valid~label,
.box textarea:valid~label {
    top: -10px;
    color: rgb(250, 167, 50);
    font-size: 12px;
    font-weight: bold;
}

.box input:focus,
.box textarea:focus,
.box input:valid,
.box textarea:valid {
    border-bottom: 2px solid rgb(250, 167, 50);
}

.box input[type="submit"] {
    border-bottom: none;
    border-radius: 4px;
    background-color: rgb(250, 167, 50, 0.8);
    color: #fff;
    margin: auto;
    margin-bottom: 0;
    margin-top: 40px;
    width: 180px;
    display: block;
    cursor: pointer;
}

.box input[type="submit"]:hover {
    background-color: rgb(250, 167, 50, 1);
}

.alternate {
    /* margin-top: 20px; */
    text-align: center;
    /* margin:auto; */
}

.alternate p {
    margin-bottom: 20px;
}

.alternate a {
    color: #000;
    text-decoration: none;
    font-size: 20px;
    margin-right: 15px;
    margin-left: 15px;
    display: inline-block;
    transition: all 0.3s;
}

.alternate a:hover {
    color: #3a58a4;
    transform: scale(1.4);
    transition: all 0.3s;
}

.need {
    text-align: center;
    margin: 5px auto;
}

.need a {
    text-decoration: none;
    color: #1c377c;
}

@media (max-width: 36em) {


    .bg {
        display: none;
    }

    .box,
    .bg {
        flex-basis: 100%;
        margin: auto;
        height: 100%;
    }
}


/* FOOTER*/

footer {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #eeeeee;
  }
  
  footer hr {
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
  }
  
  footer .container {
    width: 90%;
    margin: auto;
    line-height: 30px;
  }
  
  footer .container div {
    display: inline-block;
    width: 45%;
  }
  
  footer li {
    list-style: none;
  }
  
  footer h4 {
    font-size: 18px;
  }
  
  footer .subscribe {
    text-align: right;
  }
  
  footer .subscribe form div {
    background-color: transparent;
    height: 40px;
    width: 300px;
    position: relative;
    /* border-radius: 8px; */
  }
  
  footer .subscribe div input {
    border: 1px solid #424242;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 90px;
    font-size: 16px;
    outline: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  footer .subscribe div button {
    position: absolute;
    height: calc(100% - 8px);
    top: 4px;
    right: 4px;
    padding: 2px 8px;
    border: none;
    background-color: rgba(23, 23, 23, 0.7);
    color: #fff;
    font-weight: bold;
  }
  
  footer .subscribe div button:hover {
    background-color: rgba(23, 23, 23, 1);
    color: #ddd;
  }
  
  footer .socials li {
    display: inline-block;
    text-decoration: none;
    color: #777777;
    margin: 0 5px;
  }
  
  footer .socials li a {
    color: inherit;
    display: block;
    width: 100%;
  }
  
  footer i.fa {
    /* width: 25px; */
    margin-right: 10px;
    font-size: 24px;
  }
  
  footer .fa{
    transform: scale(1);
    transition: all 0.3s;
  }
  
  footer .fa:hover {
    transform: scale(1.5);
    transition: all 0.3s;
  }
  
  footer .fa-twitter:hover {
    color: #00acee;
  }
  
  footer .fa-facebook-official:hover {
    color: #3b5998;
  }
  
  footer .fa-instagram:hover {
    background: linear-gradient(#833ab4, #fd1d1d, #fcb045);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }