#for-farmers {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  background-image: url(../img/backstuff.png);
  background-repeat: no-repeat;
  height: 250px;
  background-size: cover;
  color: #fff
}

#for-farmers .container {
  width: 90%
}

#for-farmers .farmer-link {
  float: right;
  margin-top: 20px;
  width: 200px
}

#for-farmers .container .farmer-link a {
  text-align: center;
  display: block;
  height: 100%;
  text-decoration: none;
  color: #009245;
  background-color: #fff;
  padding: 8px;
  border-radius: 20px
}

#how-it-works {
  padding-top: 60px;
  padding-bottom: 60px
}

#how-it-works .container {
  width: 90%;
  margin: auto
}

#how-it-works .how {
  margin-top: 80px;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden
}

#how-it-works h2 {
  text-align: center;
  font-size: 35px;
  color: #17a668
}

.how h2 {
  font-size: 30px;
  text-align: center;
  display: inline-block
}

.how img {
  display: inline-block;
  width: 30%;
  transform: scale(2);
  background-color: transparent
}

.how .video {
  display: inline-block;
  width: 40%;
  position: relative
}

.how .video:hover .fa-stack {
  display: block
}

.how .fa-stack {
  display: none;
  height: 100px;
  width: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  color: red;
  transform: translate(-50%, -50%)
}

.icon-background2 {
  color: #fff
}

#how-it-works .container .how-cards {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.how-cards .card {
  margin-top: 20px;
  width: 60%;
  max-width: 350px;
  text-align: center;
  padding: 2rem;
  /* background: #fff; */
  /* background-color: greenyellow; */
  color: #191919;
  box-shadow: 0 3px 10px rgba(00, 00, 00, .4);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 500px;
  /* min-height: 500px; */
}

.how-cards .card img {
  /* margin-bottom: 30px; */
  height: 100px;
  margin-top: 10px;
  /* border: 1px solid red; */
}

.how-cards h2 {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  line-height: 40px;
  font-size: 30px;
  align-self: flex-end;
  border: 3px solid #009245
}

.how-cards .card h3 {
  color: #009245;
  /* border-radius: 50%; */
  min-height: 70px;
  /* border: 1px solid green; */
  /* margin-bottom: 10px */
}

.how-cards .card p {
  margin-top: 10px;
  /* margin-bottom: 30px */
  min-height: 150px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  /* border: 1px solid rebeccapurple; */
}

.how-cards .card a {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 0;
  background-color: #00d455;
  transition: all .3s;
  margin-top: 30px;
}

.how-cards .card a:hover {
  background-color: #fff;
  color: #00d455;
  box-shadow: 0 3px 8px #ccc
}

.modal {
  display: none;
  position: fixed;
  z-index: 4;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #000;
  background-color: rgba(0, 0, 0, .9)
}

.modal-content {
  background-color: #fff;
  margin: 2.5% auto;
  padding: 0 40px;
  border: 1px solid #888;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
  min-height: 90vh
}

#form-container {
  display: inline-block;
  width: 45%;
  margin-right: auto
}

#form-container form {
  width: 100%;
  text-align: center
}

#form-container form div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 10px;
  height: 35px
}

#form-container form span {
  color: red
}

#form-container form label {
  font-weight: 700;
  width: 30%;
  text-align: left
}

#form-container form input {
  padding: 0 14px;
  height: 100%;
  width: 65%;
  border: 0;
  background-color: #eee;
  outline: 0
}

#form-container div.text-area {
  height: 80px
}

#form-container form textarea {
  background-color: #eee;
  outline: 0;
  width: 65%;
  height: 100%;
  border: none
}

#form-container form div.checkbox {
  height: 20px;
  justify-content: flex-start
}

#form-container form div.checkbox input {
  line-height: 20px;
  width: 15px;
  margin-right: 50px
}

#form-container form div.checkbox label {
  width: fit-content
}

#form-container form input[type=submit] {
  background-color: #117938;
  text-align: center;
  color: #fff;
  padding: 10px 0;
  width: 150px;
  margin-top: 20px
}

#enquiry {
  display: inline-block;
  width: 45%
}

#enquiry .enq-img {
  height: 250px;
  width: 100%;
  background-image: url(../img/africa-manager.jpg);
  background-size: cover
}

#enquiry .text {
  margin-top: 10px;
  font-size: 16px
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: 700
}

.close:focus,
.close:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer
}

#benefits {
  padding-top: 60px;
  padding-bottom: 60px
}

#benefits h2 {
  text-align: center;
  color: var(--main-color);
  font-size: 35px
}

#benefits .container {
  width: 80%;
  margin: auto;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between
}

#benefits .container div {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 10px;
  width: 55%;
  margin: auto;
  max-width: 270px;
  letter-spacing: 1px;
  text-align: center;
  line-height: 1.5
}

#benefits .container div img {
  height: 100px;
  margin-bottom: 15px
}

#benefits hr {
  width: 50%;
  height: 2px;
  margin: auto;
  margin-top: 30px;
  color: var(--main-text-color);
  background-color: var(--main-text-color);
  border-radius: 9px
}

#farmers-story {
  padding-top: 20px;
  padding-bottom: 20px
}

#farmers-story h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 35px
}

#farmers-story .container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between
}

#farmers-story .container div {
  width: 60%;
  max-width: 300px;
  margin: auto;
  margin-top: 25px;
  text-align: center;
  padding: 2rem;
  border: 1px solid #ddd;
  box-shadow: 0 5px 15px #bbb;
  transition: all .8s;
  border-radius: 8px
}

#farmers-story .container div:hover {
  transform: scale(1.1);
  transition: all .8s
}

#farmers-story .container div a {
  text-decoration: none;
  color: #ddd;
  background-color: var(--main-text-color);
  margin-top: 12px;
  display: inline-block;
  padding: 5px 20px
}

#farmers-story .container div a:hover {
  color: var(--main-text-color);
  background-color: #bbb
}

.value-prop {
  background: linear-gradient(45deg, #000, #191919, #000, #191919);
  color: #fff;
  padding-top: 60px;
  padding-bottom: 60px
}

.value-prop h2 {
  text-align: center
}

.value-prop>div {
  padding: 1rem;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around
}

.value {
  min-height: 220px;
  display: flex;
  align-items: center;
  width: calc(100% / 2.2);
  min-width: 320px;
  font-size: .9em;
  margin-top: 40px
}

.value-img {
  height: 80px
}

.value-img img {
  height: 100%
}

.value-text {
  padding-left: 15px
}

.value-text h3,
.value-text h4 {
  margin-bottom: 8px
}

.sponsors {
  padding-top: 40px;
  padding-bottom: 40px;
  width: 90%;
  margin: auto
}

.sponsors h2 {
  display: inline-block;
  width: 25%;
  vertical-align: 50%
}

.sponsors hr {
  width: 150px
}

.sponsors h2 {
  font-size: 25px
}

.sponsors a {
  display: block;
  width: 220px;
  margin: auto;
  margin-top: 60px;
  text-align: center;
  background: #fff;
  padding: 12px 20px;
  border: 1px solid #117938;
  border-radius: 8px;
  color: #117938;
  height: 100%;
  font-weight: 600;
  text-decoration: none
}

.sponsors a:hover {
  color: #fff;
  background: #117938;
  box-shadow: 0 3px 10px #17a668
}

footer {
  padding-bottom: 50px;
  padding-top: 50px;
  background-color: #fff;
  color: #000
}

footer hr {
  width: 90%;
  margin: auto;
  margin-bottom: 20px;
  display: none
}

footer .container {
  width: 90%;
  margin: auto;
  line-height: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .container div {
  display: inline-block;
  width: 45%
}

footer .footer-links {
  text-align: center;
  display: flex;
  flex-wrap: wrap
}

footer li {
  width: 40%;
  margin-right: 10px;
  list-style: none;
  color: #000;
  text-align: left
}

footer li a {
  text-decoration: none;
  color: #000
}

footer li a:hover {
  text-decoration: underline
}

footer h4 {
  font-size: 18px;
  color: #000
}

footer .subscribe {
  text-align: right
}

footer .subscribe form div {
  background-color: transparent;
  height: 40px;
  width: 300px;
  position: relative
}

footer .subscribe div input {
  border: 1px solid #424242;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 90px;
  font-size: 16px;
  outline: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0
}

footer .subscribe div button {
  position: absolute;
  height: calc(100% - 8px);
  top: 4px;
  right: 4px;
  padding: 2px 8px;
  border: none;
  background-color: rgba(23, 23, 23, .7);
  color: #fff;
  font-weight: 700
}

footer .subscribe div button:hover {
  background-color: rgba(23, 23, 23, 1);
  color: #ddd
}

footer .socials li {
  display: inline-block;
  text-decoration: none;
  color: #000;
  margin: 0 5px;
  width: auto
}

footer .socials li a {
  color: inherit;
  display: block;
  width: 100%
}

footer i.fa {
  margin-right: 10px;
  font-size: 24px
}

footer .fa {
  transform: scale(1);
  transition: all .3s
}

footer .fa:hover {
  transform: scale(1.5);
  transition: all .3s
}

footer .fa-twitter:hover {
  color: #00acee
}

footer .fa-facebook-official:hover {
  color: #3b5998
}

footer .fa-instagram:hover {
  background: linear-gradient(#833ab4, #fd1d1d, #fcb045);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent
}

@media (min-width:1200px) {
  /* .how-cards .card {
    margin-top: 20px;
    width: 60%;
    max-width: 360px;
    text-align: center;
    padding: 2rem;
    background: #fff;
    box-shadow: 0 3px 10px rgba(00, 00, 00, .4);
    border-radius: 6px;
    display: flex;
    flex-direction: column
  } */

  .how-cards .card {
    max-width: 360px;
  }
}

@media (max-width:60em) {
  .mobile-nav.show {
    display: flex;
    overflow-x: scroll;
    transform: translateX(0);
    transition: all .5s
  }

  span.close {
    color: #117938;
    position: absolute;
    right: 10px;
    top: 0;
    font-size: 20px;
    line-height: 60px;
    font-weight: lighter;
    color: gray
  }

  span.close .fa {
    font-size: 30px;
    line-height: 60px;
    -webkit-text-stroke: 1px #fff;
    color: grey
  }

  .nav div.container .auth,
  .nav div.container .nav-links {
    display: none
  }

  #nav-icon1,
  #nav-icon2,
  #nav-icon3,
  #nav-icon4 {
    z-index: 10000;
    width: 25px;
    height: 18px;
    position: absolute;
    right: 10px;
    top: 25px;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer
  }

  #nav-icon1 span,
  #nav-icon3 span,
  #nav-icon4 span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #117938;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out
  }

  #nav-icon1 span:nth-child(1) {
    top: 0
  }

  #nav-icon1 span:nth-child(2) {
    top: 6px
  }

  #nav-icon1 span:nth-child(3) {
    top: 12px
  }

  #nav-icon1.open span:nth-child(1) {
    top: 10px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg)
  }

  #nav-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px
  }

  #nav-icon1.open span:nth-child(3) {
    top: 10px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg)
  }

  /* .how-cards .card {
    margin-top: 20px;
    width: 60%;
    max-width: 300px;
    text-align: center;
    padding: 2rem;
    box-shadow: 0 3px 10px rgba(00, 00, 00, .4);
    border-radius: 6px;
    display: flex;
    flex-direction: column
  } */
}

@media (max-width:48em) {

  .how-cards .card {
    width: 80%;
    max-width: 100%;
  }

  footer .container {
    padding: 0;
    text-align: center
  }

  footer .footer-links {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center
  }

  .footer-links li {
    width: 45%;
    margin-top: 10px;
    text-align: center
  }

  .modal-content {
    padding-top: 10px;
    padding-bottom: 40px;
    overflow-y: scroll
  }

  #enquiry {
    order: 1
  }

  #form-container {
    order: 2
  }

  #enquiry,
  #form-container {
    margin-top: 20px;
    width: 100%
  }

  footer .container div {
    width: 100%;
    margin-bottom: 20px
  }

  footer .subscribe {
    text-align: center
  }
}

@media (max-width:36em) {
  #for-farmers .container {
    width: 100%
  }

  #for-farmers .container h2 {
    font-size: 16px !important;
    padding-left: 0 !important;
    margin-bottom: 10px
  }

  h2 {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 20px !important;
    margin-bottom: 20px
  }

  hr {
    width: 100% !important
  }

  .sponsors h2 {
    width: 100%
  }

  .caurosel {
    width: 100% !important
  }

  #how-it-works .container {
    width: 95%;
    padding-right: 0;
    padding-left: 0
  }

  .how-cards .card {
    max-width: 80%;
    width: 80%;
  }

  #benefits .container {
    width: 90%
  }

  #benefits .container div {
    width: 100%;
    max-width: 100%
  }

  footer .subscribe form div {
    width: 100%
  }
}