* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}


input {
    text-align: center;
    padding-right: 10px;
    padding-left: 10px
}

html {
    scroll-behavior: smooth;
    background-image: url(../img/backstuff.png)
}

body {
    font-family: Lato, sans-serif;
    color: #555;
    max-width: 1440px;
    margin: auto;
    background-color: #fff
}

header {
    background-color: transparent;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 1440px;
    margin: auto;
    z-index: 100;
    color: #fff;
    transition: background 250ms ease-in-out
}

header.scrolled {
    color: #424242;
    background-color: #fff;
    box-shadow: 0 0 30px #000
}

nav {
    width: 90%;
    max-width: 1440px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.brand {
    height: 60px;
    margin-top: 0px;
    display: inline-block
}

.brand img {
    height: 100%
}

.nav-list {
    list-style-type: none
}

.nav-item {
    font-weight: 700
}

.nav-item a {
    color: inherit;
    font-size: 18px;
    text-decoration: none
}

.nav-item a:hover {
    color: #40df6d
}

#hero {
    padding-top: 120px;
    background-image: url(../img/cropland-221016.jpg);
    min-height: 70vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-bottom: 60px;
    position: relative
}

.overlay {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .6)
}

#hero .container {
    margin: auto;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between
}

#hero .container .hero-text {
    width: 50%;
    max-width: 500px;
    display: inline-block;
    color: #fff;
    font-size: 30px;
    z-index: 25
}

#hero .container .hero-text .app-links {
    margin-top: 20%;
    height: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

#hero .container .hero-text .app-links a {
    height: 100%;
    margin: auto;
    transition: transform .5s ease-in-out
}

#hero .container .hero-text .app-links a:hover {
    transform: translateY(5px)
}

.app-links img {
    height: 60px;
    margin: auto;
    object-fit: cover
}

#hero .app-links.small {
    display: none;
    z-index: 25
}

#hero .container .form {
    z-index: 25;
    border-radius: 5px;
    background-color: #fff;
    display: inline-block;
    color: #555;
    width: 50%;
    max-width: 400px;
    padding-left: 1.5rem;
    padding-right: 1.5rem
}

.form h2 {
    font-size: 22px;
    margin-top: 15px;
    margin-bottom: 10px
}

.form p {
    font-size: 13px
}

.form form {
    margin: auto;
    margin-top: 25px;
    max-width: 400px;
    color: #555;
    background-color: #fff;
    text-align: center
}

.form input {
    width: 100%;
    border-radius: 5px;
    outline: 0;
    font-size: 18px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    margin-bottom: 20px
}

.form form input::placeholder {
    color: #999
}

.form form label {
    font-size: 13px;
    width: 100%;
    display: block;
    margin-bottom: 4px;
    text-align: left
}


.form form select {
    margin-bottom: 30px;
    height: 30px;
    width: 100%;
    /* height: 100%; */
    padding: 0 10px;
    border: 1px solid #ccc;
    outline: 0
}

.form form input[type=submit] {
    margin-top: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #fff;
    background-color: #40df6d;
    width: 60%;
    max-width: 150px;
    cursor: pointer;
    font-weight: 700
}

.form form input[type=submit]:hover {
    color: #40df6d;
    background-color: #fff;
    box-shadow: inset 0 3px 10px #aaa;
    transform: translateY(3px)
}

#why {
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
    color: #555
}

#why h2 {
    font-size: 30px;
    color: #424242
}

#why .container {
    width: 90%;
    max-width: 900px;
    margin: auto;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

#why .container div {
    width: 80%;
    margin: auto;
    margin-top: 30px;
    max-width: 250px
}

#why .container div h3 {
    font-weight: 100;
    margin-bottom: 5px
}

#why .container div img {
    height: 100px;
    margin-bottom: 20px
}

#how-it-works {
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center
}

#how-it-works .container {
    width: 90%;
    max-width: 900px;
    margin: auto;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

#how-it-works .container div {
    width: 45%;
    max-width: 250px;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

#how-it-works h2 {
    font-size: 30px;
    color: #424242
}

#how-it-works h3 {
    /* margin-bottom: 15px; */
    font-weight: lighter;
    min-height: 50px;
}

#how-it-works p {
    max-width: 250px;
    margin: auto;
    /* margin-top: 10px; */
}

#how-it-works p img {
    border: 1px solid #ddd;
    width: 100%;
    object-fit: contain;
    padding: 4px;
    border-radius: 50%px;
    /* background-color: #eee; */
    box-shadow: 0 3px 10px #000;
    margin-top: 10px;
}

#freq-questions {
    padding-top: 80px;
    padding-bottom: 80px
}

#freq-questions h2 {
    text-align: center
}

#freq-questions .container {
    width: 90%;
    margin: auto;
    max-width: 900px;
    border: 1px solid #ccc;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 4rem;
    padding-right: 4rem
}

#freq-questions .container div {
    margin-top: 20px;
    line-height: 1.5
}

#freq-questions .container .question {
    font-weight: 700
}

#freq-questions .container a {
    font-size: .8rem;
    color: #40df6d;
    text-decoration: none
}

#freq-questions .container a:hover {
    text-decoration: underline;
}

.faq-link {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
}

#go-up {
    text-align: center;
    height: auto
}

#go-up a {
    margin: auto;
    font-size: 20px;
    padding: 10px;
    max-width: 300px;
    background-color: #40df6d;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    display: block;
    transform: translateY(0);
    transition: all .2s
}

#go-up a:hover {
    color: #40df6d;
    background-color: #fff;
    box-shadow: 0 4px 8px #555;
    transform: translateY(5px);
    transition: all .2s
}

footer {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center
}

footer p {
    font-size: 14px;
    margin-bottom: 8px
}

footer p a {
    color: #40df6d;
    text-decoration: none
}

@media (max-width:48em) {
    #hero {
        padding-bottom: 60px
    }

    #hero .container .hero-text {
        width: 90%;
        margin: auto;
        text-align: center
    }

    .hero-text h1 {
        font-size: 40px
    }

    .hero-text p {
        font-size: 15px
    }

    #hero .container .hero-text .app-links {
        margin-top: 30px;
        height: 40px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center
    }

    #hero .container .hero-text .app-links a {
        height: 100%;
        margin-left: 10px;
        margin-right: 10px
    }

    .app-links img {
        height: 40px;
        margin: auto;
        object-fit: cover
    }

    #hero .app-links.small {
        display: flex;
        margin: auto;
        margin-top: 40px
    }

    #hero .container .hero-text .app-links {
        display: none
    }

    .app-links.small a {
        margin-left: 10px;
        margin-right: 10px
    }

    #hero .container .form {
        margin: auto;
        margin-top: 60px;
        width: 100%;
        max-width: 500px
    }

    .form form {
        max-width: 100%
    }

    #why .container {
        justify-content: center
    }

    #why .container div {
        max-width: 300px;
        margin-top: 30px
    }

    #how-it-works .container div {
        margin-top: 20px;
        width: 100%;
        max-width: 300px
    }
}

@media (min-width:48em) and (max-width:900px) {
    #heor .container {
        flex-direction: column;
        justify-content: space-between
    }

    #hero .container .hero-text {
        text-align: center;
        width: 100%;
        max-width: 500px;
        display: inline-block;
        color: #fff;
        font-size: 30px;
        z-index: 25;
        min-height: auto;
        margin: auto;
        margin-bottom: 40px
    }

    #hero .container .hero-text .app-links {
        margin-top: 40px;
        min-height: 100px
    }

    #hero .app-links.small {
        display: flex;
        margin: auto;
        margin-top: 40px
    }

    #hero .container .hero-text .app-links {
        display: none
    }

    .app-links.small a {
        margin-left: 10px;
        margin-right: 10px
    }

    #hero .container .form {
        z-index: 25;
        border-radius: 5px;
        background-color: #fff;
        display: inline-block;
        color: #555;
        width: 100%;
        max-width: 400px;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        margin: auto
    }

    #hero .container .hero-text .app-links a {
        height: 100%;
        margin-top: 10px
    }

    #why .container div {
        width: 80%;
        margin: auto;
        margin-top: 30px;
        max-width: 300px
    }

    #how-it-works .container div {
        width: 80%;
        max-width: 300px;
        margin: auto;
        margin-top: 30px
    }
}