:root {
    --main-color: #009245;
    --main-text-color: #424242;
  }
  
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  body {
    margin: 0;
    font-size: 1rem;
    font-size: 14px;
    line-height: 1.5;
    font-family: 'Raleway', sans-serif;
    color: var(--main-text-color);
    overflow-x: hidden;
    /* background: repeating-linear-gradient(180deg,
        #ccc 0px, #fff 1px); */
    /* background: #ffffff; */
    /* background: #aaa; */
  }
  
  
  .nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    height: 70px;
    background: #fff;
    box-shadow: 0 3px 5px #444
  }
  
  .nav div.container {
    /* background: inherit; */
    /* border: 1px solid firebrick; */
    height: 100%;
    max-width: 100%;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav div.container .auth,
  .nav div.container .nav-links {
    /* display: ; */
  }
  
  
  .brand {
    display: inline-block;
    height: 50px;
    margin-top: auto;
    margin-bottom: auto;
    /* margin-top: 5px; */
  }
  
  .navigation {
    /* width: 80%; */
  }
  
  .auth {
    display: inline-block;
  }
  
  .brand img {
    height: 100%;
  }
  
  .nav-links {
    display: inline-block;
  }
  
  .nav-item {
    display: inline-block;
    margin: 0 10px;
  }
  
  .nav-item a {
    text-decoration: none;
    line-height: 50px;
    /* because of the border-bottom: ; */
    color: #111;
    display: block;
    height: 100%;
    transition: all 0.5s;
  }
  
  .nav-item a:hover {
    color: var(--main-color);
    transition: all 0.5s;
    font-weight: 700;
  }
  
  .sign-btn {
    display: inline-block;
    font-weight: bold;
    background-color: #17a668;
    color: #fff;
    text-decoration: none;
    padding: 10px 7px;
    border-radius: 5px;
  }
  
  .sign-btn:nth-child(2) {
    background-color: transparent;
    background-color: #f5fbff;
    margin-left: 5px;
    color: #0095ff;
    border-radius: 5px;
    transition: all 0.3s;
    transition: all 0.3s;
  }
  
  .sign-btn:nth-child(2):hover {
    transform: translateY(-2px);
    background-color: #fff;
    box-shadow: 0px 3px 9px 0 rgba(00, 00, 00, 0.2);
    transition: all 0.3s;
  }
  
  .mobile-nav {
    padding-bottom: 100px;
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    background-color: black;
    background: #fff;
    /* visibility: hidden; */
    display: none;
    /* transform: translateY(-1000px); */
    /* transition: all 0.5s; */
    animation: goAway 1s forwards;
  }
  
  .mobile-nav .brand {
    margin: 0;
  }
  
  .mobile-nav .nav-links {
    margin-top: 60px;
    display: block;
    width: 100%;
    padding: 0;
    text-align: center;
  }
  
  .mobile-nav .nav-links .nav-item {
    display: block;
    width: 100%;
    margin: 0;
    border: 0;
  }
  
  
  
  .mobile-nav .nav-item:hover {
    background-color: #17a668;
  }
  
  
  .mobile-nav .nav-item a:hover {
    color: var(--main-color);
    border-bottom: none;
    transition: all 0.2s;
    font-weight: 700;
  }
  
  .mobile-nav .nav-item a {
    color: #117938;
  }
  
  .mobile-nav .nav-item:hover a {
    color: #fff;
  }
  
  .mobile-nav .auth {
    margin-top: 60px;
    width: 100%;
    text-align: center;
  }
  
  .mobile-nav .auth .sign-btn {
    display: block;
    padding: 15px 0px;
    max-width: 150px;
    margin: auto;
    margin-bottom: 10px;
    transition: all 0.3s;
  
  }
  
  .mobile-nav .auth .sign-btn:hover {
    font-weight: bold;
    transition: all 0.3s;
    transform: scale(1.1);
  }
  
  .mobile-nav .auth .sign-btn:nth-child(2):hover {
    /* border: 1px solid #111; */
    /* background-color: red; */
    transform: translateY(5px);
  }

  @media (max-width: 60em) {
    .mobile-nav.show {
      display: flex;
      overflow-x: scroll;
      animation: fromAbove 1s forwards;
      transform: translateX(0);
      transition: all 0.5s;
    }
  
    span.close {
      color: #117938;
      position: absolute;
      right: 10px;
      top: 0px;
      font-size: 20px;
      line-height: 60px;
      font-weight: lighter;
      color: gray;
    }
  
    span.close .fa {
      font-size: 30px;
      line-height: 60px;
      -webkit-text-stroke: 1px #fff;
      color: grey;
    }
  
    .nav div.container .auth,
    .nav div.container .nav-links {
      display: none;
    }
  
    #nav-icon1,
    #nav-icon2,
    #nav-icon3,
    #nav-icon4 {
      z-index: 10000;
      width: 25px;
      height: 18px;
      /* background-color: rgba(255, 0, 0, 0.5); */
      position: absolute;
      right: 10px;
      /* line-height: 60px; */
      top: 25px;
      /* margin: 50px auto; */
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .5s ease-in-out;
      -moz-transition: .5s ease-in-out;
      -o-transition: .5s ease-in-out;
      transition: .5s ease-in-out;
      cursor: pointer;
    }
  
    #nav-icon1 span,
    #nav-icon3 span,
    #nav-icon4 span {
      display: block;
      position: absolute;
      height: 2px;
      width: 100%;
      background: #117938;
      border-radius: 9px;
      opacity: 1;
      left: 0;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .25s ease-in-out;
      -moz-transition: .25s ease-in-out;
      -o-transition: .25s ease-in-out;
      transition: .25s ease-in-out;
    }
  
    #nav-icon1 span:nth-child(1) {
      top: 0px;
    }
  
    #nav-icon1 span:nth-child(2) {
      top: 6px;
    }
  
    #nav-icon1 span:nth-child(3) {
      top: 12px;
    }
  
    #nav-icon1.open span:nth-child(1) {
      top: 10px;
      -webkit-transform: rotate(135deg);
      -moz-transform: rotate(135deg);
      -o-transform: rotate(135deg);
      transform: rotate(135deg);
    }
  
    #nav-icon1.open span:nth-child(2) {
      opacity: 0;
      left: -60px;
    }
  
    #nav-icon1.open span:nth-child(3) {
      top: 10px;
      -webkit-transform: rotate(-135deg);
      -moz-transform: rotate(-135deg);
      -o-transform: rotate(-135deg);
      transform: rotate(-135deg);
    }
  
  
  
  }
  
  @media (max-width: 48em) {
  
  
    .modal-content {
      padding-top: 10px;
      padding-bottom: 40px;
      overflow-y: scroll;
    }
  
    #enquiry {
      order: 1;
    }
  
    #form-container {
      order: 2;
    }
  
    #form-container,
    #enquiry {
      margin-top: 20px;
      width: 100%;
    }
  
    footer .container div {
      width: 100%;
      margin-bottom: 20px;
    }
  
    footer .subscribe {
      text-align: center;
    }
  }
  
  
  
  @media (max-width: 36em) {
  
    #for-farmers .container {
      width: 100%;
    }
  
    #for-farmers .container h2 {
      font-size: 16px !important;
      padding-left: 0 !important;
      margin-bottom: 10px;
    }
  
    h2 {
      padding-left: 1rem;
      padding-right: 1rem;
      font-size: 20px !important;
      margin-bottom: 20px;
    }
  
    hr {
      width: 100% !important;
    }
  
    .sponsors h2 {
      width: 100%;
    }
  
    .caurosel {
      width: 100% !important;
    }
  
    #how-it-works .container {
      width: 95%;
      padding-right: 0;
      padding-left: 0;
    }
  
    .how-cards .card {
      margin-top: 20px;
      width: 100%;
      max-width: 270px;
      text-align: center;
      padding: 1rem;
      background: #fff;
      box-shadow: 0px 3px 10px rgba(00, 00, 00, 0.4);
  
      border-radius: 6px;
      /* max-height: 400px; */
      /* margin: auto; */
    }
  
    #benefits .container {
      width: 90%;
    }
  
    #benefits .container div {
      width: 100%;
      max-width: 100%;
    }
  
    footer .subscribe form div {
      width: 100%;
    }
  }

  @keyframes fromAbove {
      from {
        transform: translateY(-1200px);
      }

      to {
        transform: translateY(0px);
      }
  }

  @keyframes goAway {
    from {
      transform: translateY(0px);
    }

    to {
      transform: translateY(-1200px);
    }
}